body { 
  font: normal 13px/20px "Helvetica Neue", Helvetica, sans-serif;
  background: rgb(237, 237, 236);
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

#holder { border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;float:left;width:320px;margin-left:45px;}
#holder_result { border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;float: right;margin-right: 45px;}
#holder.is_hover { border: 10px dashed #333; }

#wrapper {
  width: 800px;
  margin: 5px auto;
  background: #fff url(../img/shade.jpg) no-repeat center bottom;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border-top: 1px solid #fff;
  
  padding:5px 20px;
}

h1 {
  padding-top: 5px;
}

h2 {
  font-size: 100%;
  font-style: italic;
}

header,
article > *
 {
  margin: 20px;
}

footer > * {
  margin: 5px
  font-size:11px;
}

footer {  padding:10px 0px 10px 20px;
          text-align:right;
  

}
.col { width:350px;margin-top:0px !important;}
#left-col {float:left;}
#right-col {float:right;}
.clear { clear:both;}
legend { border-bottom:0px !Important;}
#console_out {  overflow:auto;
                width:340px;
                height:120px;
                border:1px solid #d8d8d8;
                border-radius:8px;
                padding:3px;

}